{#
/**
 * @file
 * SimpleAds statistics today template.
 */
#}
<div class="statistics-wrapper">
  <div class="stats-row-wrapper">
    <div class="two-fourth">
      <canvas id="simpleads-pie-clicks"></canvas>
    </div>
    <div class="two-fourth">
      <canvas id="simpleads-pie-impressions"></canvas>
    </div>
  </div>
</div>
