{#
/**
 * @file
 * SimpleAds statistics table template.
 */
#}
<div class="statistics-wrapper">
  <div class="stats-row-wrapper">
    <table id="simpleads-table" data-paging="true" data-page-length="25"></table>
  </div>
</div>
