{#
/**
 * @file
 * SimpleAds statistics template.
 */
#}
<div class="statistics-wrapper">
  <div class="stats-row-wrapper">
    <nav role="navigation" class="is-horizontal position-container is-horizontal-enabled" aria-labelledby="secondary-tabs-title">
      <ul class="tabs secondary clearfix" id="simpleads-stats-tabs"></ul>
    </nav>
  </div>
  <div class="stats-row-wrapper">
    <div id="simpleads-stats-tabs-content"></div>
  </div>
</div>
